/inline-glsl19/bin/
/inline-glsl19/obj/
/inline-glsl22/bin/
/inline-glsl22/obj/
/inline-glsl/bin/
/inline-glsl/obj/
/.vs/
/Debug/
/Release/
/glslang_wrapper/Debug/
/glslang_wrapper/Release/
/glslang_wrapper/x64/
/glslang_wrapper/lib/x86/Debug
/glslang_wrapper/lib/x64/Debug
/out/